* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bgro {
    background-image: url("1.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: auto;
    background-color: #d1dede;
}

h3 {
    font-family: 'open sans';
    font-size: 2vw;
    font-weight: 600;
    margin-left: -1px;
}

h4 {
    font-family: 'open sans';
    font-size: 8pt;
    font-weight: 300;
    color: #FFF;
    padding-top: 3px;
}

h2 {
    font-size: 6vmin;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

h5 {
    font-size: 3vmin;
    font-family: cursive;
}

h6 {
    font-size: 2.2vmin;
    font-family: monospace;
}

span {
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #888888;
    line-height: 17px;
    margin-bottom: 5px;
}

.cont {
    position: relative;
}

.image {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.cont:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cont1 {
    width: 100%;
    background-color: #d1dede;
}

.skill1 {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 90%;
    background-color: #4CAF50;
}

.css {
    width: 80%;
    background-color: #2196F3;
}

.javascript {
    width: 65%;
    background-color: yellow;
}

.php {
    width: 60%;
    background-color: #808080;
}

.office {
    width: 70%;
    background-color: red;
}

.card {
    border: none;
}

hr {
    border: #0044ff solid;
    width: 6vw;
}